h1 {
  color: #000000;
  display: block;
  font-size: 2em;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  color: #000000;
}

body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.02em;
  font-size:16px;
  color: #000000;
  margin: 0;
  height: 100%;
  overflow: auto;
}
